{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid mt-3">
        <div class="row">
            {% for lastestJobOffer in lastestJobOffers %}
                <div class="col-md-12 mb-2 px-3 py-3">
                    <div class="w-75 shadow">
                        <h5 class="text-primary">{{ lastestJobOffer.title }}</h5>
                        <div>
                        <p>{{ lastestJobOffer.description }}</p>
                        </div>
                        <div>
                            {{ lastestJobOffer.description }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert-info">Il n'y a pas d'offre</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
