<div class="mt-3 d-flex justify-content-center align-items-center">
    {{ form_start(formSearch, {"attr": {"class": "w-25", "novalidate": true}}) }}
        <div class="input-group">
        {{ form_widget(formSearch.keyword) }}
        <button type="submit" class="btn btn-success">Rechercher</button>
    {{ form_end(formSearch) }}
</div>