{% extends 'base.html.twig' %}

{% block title %}Administration des permissions de rôle{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 col-md-6" style="background: #f2f2f2;">
            {% include "admin/_menu_dashboard.html.twig" %}
        </div>
        <div class="col-lg-8 col-md-6">
            <div class="mt-3">
                {% include "partials/_flash_message.html.twig" %}
            </div>
            <table class="table">
                <tr>
                    <th>Nom</th>
                    <th>Action</th>
                </tr>
                {% for role in roles %}
                        <tr>
                            <td>
                                {{ role.name is defined ? role.name : "" }}
                            </td>
                            <td>
                                <a href="{{ path('admin_role_permission_edit', {'id': role.id}) }}" class="btn btn-sm btn-success">
                                    Modifier les permissions
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun offre</td>
                        </tr>    
                    {% endfor %}
                {% if roles | length > 0 %}
                    <div class="pagination d-flex justify-content-center">
                        {{ knp_pagination_render(roles) }}
                    </div>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
