<form method="post" action="{{ path('admin_role_delete', {'id': role.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimer ce rôle ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ role.id) }}">
    <button class="btn btn-sm btn-danger">supprimer</button>
</form>
