<form method="post" action="{{ path('admin_permission_delete', {'id': permission.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimer cette permission ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ permission.id) }}">
    <button class="btn btn-sm btn-danger">supprimer</button>
</form>
